<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
       <img src="/img/logo-mercado-liebre.svg" height="30" alt="">
        <div id="Barra">
            <p>Barra de busqueda</p>
            <button id="boton" type="button">buscar</button>
        </div>
        <div>
            <p>Comprar en cuetos y sin tarjeta de credito</p>
        </div>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Crear tu cuenta</li>
            <li>Ingresa</li>
            <li>Mis compras</li>
        </ul>
    </header>
    
    <main> 
        <img src="/img/img-home-banner.jpg" width="650"alt="">
            <h3>Basado en tu ultima visita</h3>
            
            	
            <img src="/img/img-cafetera-moulinex.jpg" width="200" alt="">
            <BR>$6.770</BR><BR>40% OFF</BR><BR>Cafetera Moulinex</BR> 
            <img src="/img/img-macbook-pro-2019.jpg" width="200"alt=""> 
           <BR>$230.000</BR><BR>20% off</BR><BR>MacBook Pro 2019</BR>
          <img src="/img/img-samsung-galaxy-s10.jpg" width="200" alt="">
           <BR>$70.500</BR><BR>10% off</BR><BR>Samsung Galaxy S10</BR> 
          <img src="/img/img-tv-samsung-smart.jpg" width="200" alt="">
           <BR>$23.200</BR><BR>5% off</BR><BR>SmartTv Samsung 43"</BR> 
           <h3>Sección de Ofertas</h3>
           <img src="/img/img-cafetera-moulinex.jpg" width="200"; left: 50% alt="">
           <br>$6.770</br> <br>40% off</br><br>Cafetera Moulinex</br> 
            <img src="/img/img-macbook-pro-2019.jpg" width="200"alt="">
            <br>$230.000</br><br>20% off</br><br>MacBook Pro 2019</br>
            <img src="/img/img-samsung-galaxy-s10.jpg" width="200" alt="">            
            <br>10% off</br><br>$70.500</br><br>Samsung Galaxy S10</br>
            <img src="/img/img-tv-samsung-smart.jpg" width="200" alt="">        
            <br>5% off</br><br> $23.200</br><br>SmartTv Samsung 43"</br>
            
        </section>
    </main>
    <footer>
        <h3 id="paga">Paga con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h3 id="envio">Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h3 id="seguridad">Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        
        <p id="copi">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>

</html>