<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
       <img src="/img/logo-mercado-liebre.svg" height="30" alt="">
       <div class="Barradebusqueda">
        <form action="">
        <input type="text" placeholder="Buscar productos, marcas, etc"/>
        <button>Buscar</button>
       </form>
    </div>
        <div>
            <p class="Comprar"><i class="fa-solid fa-hand-holding-dollar"></i> Comprar en cuetos y sin tarjeta de credito</p>
        </div>
       <nav>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Crear tu cuenta<i class="fa-solid fa-id-card"></i></li>
            <li>Ingresa
 
 
                <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            
        <img src="/img/img-home-banner.jpg" width="358"alt="">
        
        
    </header>
    
    <main> 
        
            <h3>Basado en tu ultima visita</h3>
            
            	
            <img src="/img/img-cafetera-moulinex.jpg" width="200" alt="">
            <p class="Precio">$6.770</p><p class="Descuento">40% OFF</p><p class="Descuento">Cafetera Moulinex</p> 
            <img src="/img/img-macbook-pro-2019.jpg" width="200"alt=""> 
           <p class="Precio">$230.000</p><p class="Descuento">20% off</p><p class="Descuento">MacBook Pro 2019</p>
          <img src="/img/img-samsung-galaxy-s10.jpg" width="200" alt="">
           <p class="Precio">$70.500</p><p class="Descuento">10% off</p><p class="Descuento">Samsung Galaxy S10</p> 
          <img src="/img/img-tv-samsung-smart.jpg" width="200" alt="">
           <p class="Precio">$23.200</p><p class="Descuento">5% off</p><p class="Descuento">SmartTv Samsung 43"</p> 
           <h3>Sección de Ofertas</h3>
           <img src="/img/img-cafetera-moulinex.jpg" width="200"; left: 50% alt="">
           <p class="Precio">$6.770</p> <p class="Descuento">40% off</p><p class="Descuento">Cafetera Moulinex</p> 
            <img src="/img/img-macbook-pro-2019.jpg" width="200"alt="">
            <p class="Precio">$230.000</p><p class="Descuento">20% off</p><p class="Descuento">MacBook Pro 2019</p>
            <img src="/img/img-samsung-galaxy-s10.jpg" width="200" alt="">            
            <p class="Descuento">10% off</p><p class="Precio">$70.500</p><p class="Descuento">Samsung Galaxy S10</p>
            <img src="/img/img-tv-samsung-smart.jpg" width="200" alt="">        
            <p class="Descuento">5% off</p><p class="Precio"> $23.200</p><p class="Descuento">SmartTv Samsung 43"</p>
            
        </section>
    </main>
    <footer>
        <div class="Footer">
            <i class="fa-solid fa-credit-card"></i>
        </div>
        
        <p><b>Paga con tarjeta o en efectivo</b></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <div class="Footer">
            <i class="fa-solid fa-gift"></i>
        </div>
            
        <p><b>Envío gratis desde $ 2.500</b></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <div class="Footer">
            <i class="fa-solid fa-user-shield"></i>
        </div>
            
        <p><b>Seguridad, de principio a fin</b></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>

</html>