<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <header>
        <h1>Registrate</h1>
        <a href="/"><h4 class="Volver">Volver al Inicio</h4></a>

    </header>
    <main>
       <form action="" class="form_register">
     <div class="datos"> 
        <h4>Tus Datos</h4>
        <input class="input_datos" type="text" name="name" placeholder="Nombre y Apellido">
        <input class="input_datos" type="text" name="name" placeholder="Nombre de Usuario">
        <input class="input_datos" type="email" name="email" placeholder="Email">
        <h4>Fecha de nacimiento</h4>
        <input class="input_datos" type="date" name="birthay">
        <input class="input_datos" type="text" name="address" placeholder="Domicillio">
    </div>
        <h4>Perfil de Usuario</h4>
    <div class="perfil">
        <input type="radio" name="perfil-de-usuario"><label for="text">Comprador</label>
        <input type="radio" name="perfil-de-usuario"><label for="text">Vendedor</label>
    </div>  
        <h4>Intereses</h4>
    <div class="Intereses"></div>
        <label for="Electro"><input type="checkbox" name="intereses">Electro</label>
        <label for="Moda"><input type="checkbox" name="intereses">Moda</label>
        <label for="Hogar"><input type="checkbox" name="intereses">Hogar</label>
        <label for="Jugueteria"><input type="checkbox" name="intereses">Jugueteria</label>
        <label for="Vida Sana"><input type="checkbox" name="intereses">Vida Sana</label>
    </div>
    </form>    
    </main>
    
</body>
</html>