main {
    text-align: center;
}
header {
    background-color: #EAC926;
}
#Barra{
text-align: center;
}
#copi{
    text-align: center;
}
#envio{
    text-align: center;
}
#paga{
    text-align: center;
}
#seguridad{
    text-align: center;
}